OPENGFW_IMAGE_NAME=opengfw-master:latest
OPENGFW_CONTAINER_PORT=9527
OPENGFW_PUBLISH_PORT=9527
OPENGFW_DATABASE_URL=postgres://user:pass@db-host:5432/opengfw?sslmode=disable
OPENGFW_EVENT_RETENTION=
OPENGFW_METRIC_RETENTION=
OPENGFW_RETENTION_INTERVAL=
